* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-contact {
  /* background-color:#C4C4C4; */
  height: 80vh;
  font-family: "Nunito", sans-serif;
}

.f {
  height: 12vh;
  width: 100vw;
  position: absolute;
  /* background: linear-gradient(#1CB99D,#2D8A9E);*/
  background-color: #1a3e58;
  color: whitesmoke;
}

.thanks {
  position: absolute;
  left: 43%;
  top: 30%;
  font-size: 20px;
}
.h-contact {
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
}

.ar-msg {
  /* border: 1px solid blue; */
  height: 100%;
  width: 20%;
  /* background: #3a3849; */
  background: rgb(73, 91, 117);
}

.phone-icon,
.msg-icon,
.loc-icon {
  position: absolute;
  height: 50px;
  width: 50px;
  background-size: cover;
  left: 8%;
}

.phone-icon {
  background-image: url(img/phoneicon.png);
  top: 8%;
}

.msg-icon {
  background-image: url(img/msgicon.png);
  top: 38%;
}

.loc-icon {
  background-image: url(img/icons8-user-location-64.png);
  top: 68%;
}
.number {
  position: absolute;
  left: 5.5%;
  top: 20%;
}
.email {
  position: absolute;
  top: 50%;
  left: 3%;
}

.location {
  position: absolute;
  left: 5.2%;
  top: 80%;
}

.f > h4 {
  position: absolute;
  left: 35%;
  top: 55%;
  text-align: center;
  font-size: 14px;
}

.h-name,
.h-email,
.h-phone,
.h-subject,
.h-message {
  position: absolute;

  top: 40%;
  left: 30%;
}
.h-name {
  top: 25%;
}

.h-email {
  top: 35%;
}
.h-phone {
  top: 45%;
}

.h-subject {
  top: 55%;
}

.h-message {
  top: 65%;
}

.input-name,
.input-email,
.input-phone,
.input-subject,
.input-message {
  position: absolute;
  left: 40%;
  color: black;
  background: none;
  width: 40%;
  height: 3%;
  border: none;
  border-bottom: 1px solid rgb(223, 221, 221);
  outline: none;
  font-size: 18px;
}

.input-name {
  top: 25%;
}

.input-email {
  top: 35%;
}

.input-phone {
  top: 45%;
}
.input-subject {
  top: 55%;
}
.input-message {
  top: 65%;
}
/* .w3-light-grey1{
    width: 86%;
    height: 40%;
    background: rgb(85, 85, 85, 0.6);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    
}
.w3-container w3-pink w3-center{
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    background: #3970b9;
  width: 60%;
    
} */
.email > a {
  color: white;
  text-decoration: none;
}
